name: CI remote with value

on:
  pull_request:
  workflow_dispatch:

env:
  ORG: jpbnetley
  REPO: gh-action-B
  WORKFLOW: gh-b-with-value-workflow.yml

jobs:
  trigger-remote-repo:
    name: trigger remote repo action
    runs-on: ubuntu-latest
    outputs:
      databaseId: ${{ steps.trigger_remote_action.outputs.DATABASE_ID }}
      fullRepo: ${{ steps.setup_composite_env_var.outputs.FULL_REPO }}
    env:
      GH_TOKEN: ${{ secrets.PAT }}
    steps:
        - name: Setup compisit env var
          id: setup_composite_env_var
          run: |
            echo "FULL_REPO=${{ env.ORG }}/${{ env.REPO }}" >> $GITHUB_OUTPUT
        
        - name: trigger remote repo action
          id: trigger_remote_action
          run: |
              gh workflow run ${{ env.WORKFLOW }} -R ${{ steps.setup_composite_env_var.outputs.FULL_REPO }} --ref main -f value1=production -f value2=value2twoo
              sleep 5
              databaseId=$(gh run list -R ${{ steps.setup_composite_env_var.outputs.FULL_REPO }} -w  ${{ env.WORKFLOW }} -L1 --json databaseId --jq .[0].databaseId)
              echo "DATABASE_ID=$databaseId" >> $GITHUB_OUTPUT

        - name: Add summary with remote workflow link
          run: |
              echo "### Remote Workflow Triggered" >> $GITHUB_STEP_SUMMARY
              echo "This workflow triggers a remote workflow in [${{ steps.setup_composite_env_var.outputs.FULL_REPO }}](https://github.com/${{ steps.setup_composite_env_var.outputs.FULL_REPO }})" >> $GITHUB_STEP_SUMMARY
              echo "- **Workflow file:** [${{ env.WORKFLOW }}](https://github.com/${{ steps.setup_composite_env_var.outputs.FULL_REPO }}/blob/main/.github/workflows/${{ env.WORKFLOW }})" >> $GITHUB_STEP_SUMMARY
              echo "- **Run link:** [View remote workflow run](https://github.com/${{ steps.setup_composite_env_var.outputs.FULL_REPO }}/actions/runs/${{ steps.trigger_remote_action.outputs.DATABASE_ID }})" >> $GITHUB_STEP_SUMMARY

  poll-remote-repo:
    name: Poll remote repo action
    runs-on: ubuntu-latest
    needs: trigger-remote-repo
    steps:
        - name: Wait for remote workflow to complete
          run: |
            gh run watch -R ${{ needs.trigger-remote-repo.outputs.fullRepo }} ${{ needs.trigger-remote-repo.outputs.databaseId }}

    env:
      # "PAT" (Personal access tokan). The PAT requires the "Full repo" access
      GH_TOKEN: ${{ secrets.PAT  }}

